<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap.css">
  <link rel="stylesheet" href="./ajax_template.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <section class="jumbotron">
        <h3 class="jumbotron-heading">Search Github User</h3>
        <div>
          <input type="text" placeholder="enter the name you search"/>&nbsp;
          <button>Search</button>
        </div>
      </section>
      <div>
        <div class="row">
          <div class="card">
            <a href="https://github.com/react.js" target="_blank">
              <img src="https://avaters.githubusercontent.com/u/6412038?v=3" style='width: 100px'/>
            </a>
            <p class="card-text">reactjs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>